<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/cookie.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="/css/viewandupdate.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">

    
</head>

<body>
    <%if(session.utente.type == "student") {%>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <a href="/index.html" style="text-decoration: none; color: black">
                <div class=sidebar-logo>
                    <img src="/img/logoUni.png" style="float: left" width="50px">
                </div>
                <div class="sidebar-heading">Home</div>
            </a>
            <div class="list-group list-group-flush">
                <a href="/profile" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/profile.svg" style="height: 20px; width: 20px;"> Profilo</a>
                <a href="compileLAStudent.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/compileLA.svg" style="height: 20px; width: 20px;"> Compilazione LA</a>
                <a href="viewLA.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/ViewLA.svg" style="height: 20px; width: 20px;"> Visualizzazione LA</a>
                <a href="viewtutor.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Lista Tutor/Organizzazioni</a>
                <a href="dochandler.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/documents.svg" style="height: 20px; width: 20px;"> Gestione Documenti</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <% } %>
        
        <%if(session.utente.type == "academicTutor") {%>

            <div class="d-flex" id="wrapper">
        
                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <a href="/index.html" style="text-decoration: none; color: black">
                        <div class=sidebar-logo>
                            <img src="/img/logoUni.png" style="float: left" width="50px">
                        </div>
                        <div class="sidebar-heading">Home</div>
                    </a>
                    <div class="list-group list-group-flush">
                        <a href="/profile" class="list-group-item list-group-item-action bg-light">
                            <img src="/img/profile.svg" style="height: 20px; width: 20px;"> Profilo</a>
                        <a href="compileLAAcademicTutor.html" class="list-group-item list-group-item-action bg-light">
                            <img src="/img/compileLA.svg" style="height: 20px; width: 20px;"> Compilazione LA</a>
                        <a href="viewLA.html" class="list-group-item list-group-item-action bg-light">
                            <img src="/img/ViewLA.svg" style="height: 20px; width: 20px;"> Visualizzazione LA</a>
                        <a href="viewtutor.html" class="list-group-item list-group-item-action bg-light">
                            <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Lista Tutor/Organizzazioni</a>
                        <a href="#" class="list-group-item list-group-item-action bg-light">
                            <img src="/img/request_list.svg" style="height: 20px; width: 20px;" id="button_hold"> Lista Richieste</a>
                        <a href="dochandler.html" class="list-group-item list-group-item-action bg-light">
                            <img src="/img/documents.svg" style="height: 20px; width: 20px;"> Gestione Documenti</a>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->
        
                <% } %>



                <%if(session.utente.type == "externalTutor") {%>

                    <div class="d-flex" id="wrapper">
                
                        <!-- Sidebar -->
                        <div class="bg-light border-right" id="sidebar-wrapper">
                            <a href="/index.html" style="text-decoration: none; color: black">
                                <div class=sidebar-logo>
                                    <img src="/img/logoUni.png" style="float: left" width="50px">
                                </div>
                                <div class="sidebar-heading">Home</div>
                            </a>
                            <div class="list-group list-group-flush">
                                <a href="/profile" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/profile.svg" style="height: 20px; width: 20px;"> Profilo</a>
                                <a href="compileLAExternalTutor.html" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/compileLA.svg" style="height: 20px; width: 20px;"> Compilazione LA</a>
                                <a href="viewLA.html" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/ViewLA.svg" style="height: 20px; width: 20px;"> Visualizzazione LA</a>
                                <a href="viewtutor.html" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Lista Tutor/Organizzazioni</a>
                                <a href="#" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/request_list.svg" style="height: 20px; width: 20px;" id="button_hold"> Lista Richieste</a>
                                <a href="dochandler.html" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/documents.svg" style="height: 20px; width: 20px;"> Gestione Documenti</a>
                            </div>
                        </div>
                        <!-- /#sidebar-wrapper -->
                
                        <% } %>




                  <%if(session.utente.type == "admin") {%>

                    <div class="d-flex" id="wrapper">
                
                        <!-- Sidebar -->
                        <div class="bg-light border-right" id="sidebar-wrapper">
                            <a href="/index.html" style="text-decoration: none; color: black">
                                <div class=sidebar-logo>
                                    <img src="/img/logoUni.png" style="float: left" width="50px">
                                </div>
                                <div class="sidebar-heading">Home</div>
                            </a>
                            <div class="list-group list-group-flush">
                                <a href="/profile" class="list-group-item list-group-item-action bg-light">
                                    <img src="/img/profile.svg" style="height: 20px; width: 20px;"> Modifica Password</a> 
                                        <a href="/addHostOrg" class="list-group-item list-group-item-action bg-light">
                                            <img src="/img/compileLA.svg" style="height: 20px; width: 20px;" id="button_hold"> Aggiunta Organizzaione Ospitante</a>
                                            <a href="/addExtTutor" class="list-group-item list-group-item-action bg-light">
                                                <img src="/img/compileLA.svg" style="height: 20px; width: 20px;" id="button_hold"> Aggiunta Tutor Esterno</a>
                                                <a href="/toViewInfo" class="list-group-item list-group-item-action bg-light">
                                                    <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Lista Organizzazioni Ospitante e Tutor Esterno</a>
                                                    <a href="/toViewTutor" class="list-group-item list-group-item-action bg-light">
                                                        <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Info Tutor Esterno</a>
                                                        <a href="/toViewOrg" class="list-group-item list-group-item-action bg-light">
                                                            <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Info Organizzazione Ospitante</a>
                          
                                      
                            </div>
                        </div>
                        <!-- /#sidebar-wrapper -->
                
                        <% } %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-color: orange;">
                <button id="menu-toggle"><img src="/img/menu.png" style="height: 20px; width: 20px;"></button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="/img/responsive_slide.svg" style="height: 20px; width: 20px;">
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/img/notification.svg" style="height: 20px; width: 20px;"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/img/chat.svg" style="height: 20px; width: 20px;"></a>
                        </li>
                        <li><a href="/logout" class="nav-link"> Logout</a> </li>
                        
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <img class="logoEA" src="/img/EasyAgreement_Logo.png" alt="logo Easy Agreement">
                <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
                <h1 class="mt-8">LEARNING AGREEMENT FOR TRAINEESHIPS</h1>             
            </div>

            <%if(session.utente.type == "student") {%>
            <hr>
            <h1 class="mt-8">Riepilogo Dati Anagrafici</h1>
            <div class="container-fluid" id="studentView" >
                <div class="viewdati">
                <ul class="list-group" id="viewp">
                    <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Nome: </strong></span> <%= JSON.stringify(session.utente.utente.Name) %> </li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Cognome: </strong></span> <%= JSON.stringify(session.utente.utente.Surname)%></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Email: </strong></span><%= JSON.stringify(session.utente.utente.Email) %></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Indirizzo: </strong></span>  <%= JSON.stringify(session.utente.utente.Address) %></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Città: </strong></span>  <%= JSON.stringify(session.utente.utente.City) %></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Corso di laurea: </strong></span>  <%= JSON.stringify(session.utente.utente.DegreeCourse) %></li>
                </ul>
                </div>
               <hr>
               <div class="updatedati">
                  
                    <form id="formUpdate" method="post" action="/updateProfile">
                        <h4 class="mt-4">Modifica dati anagrafici</h4>
                            <div class="form-label-groupS">
                                <input type="text" id="inputNameS" class="form-control" name="inputNameS" placeholder="Nome" >
                                    <span id="errNameS">Nome non valido</span>
                            </div>
                            <div class="form-label-groupS">
                                <input type="text" id="inputSurnameS" class="form-control" name="inputSurnameS" placeholder="Cognome"  >
                                    <span id="errSurnameS">Cognome non valido</span>
                            </div>
                            <div class="form-label-groupS">
                                <input type="text" id="inputAddress" class="form-control" name="inputAddress" placeholder="Indirizzo"  >
                                    <span id="errAddress" >Indirizzo non valido</span>
                            </div>
                            <div class="form-label-groupS">
                                <input type="text" id="inputCity" class="form-control" name="inputCity" placeholder="Città"  >
                                    <span id="errCity">Città non valida</span>
                            </div>
                            <div class="form-label-groupS">
                                <input type="text" id="inputDegree" class="form-control" name="inputDegree" placeholder="Corso di Laurea"  >
                                    <span id="errCourse">Corso di Laurea non valido</span>
                            </div>
                            <button class="btna btn-block" type="submit" class="saveButton">Modifica dati</button>
                    </form>
                                               
                        <form id="formUpdatePass" method="post" action="/updatePassword">
                        <h4 class="mt-4">Modifica password</h4>
                            <div class="form-label-groupS">
                                <input type="password" id="inputOldPassword" class="form-control" name="inputOldPassword" placeholder="Vecchia Password"  >
                                    <span id="errOldPassword">Vecchia Password errata</span>
                           </div>
                            <div class="form-label-groupS">
                                <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Nuova Password" >
                                    <span id="errPassword">Nuova Password non valida</span>
                            </div>
                            <div class="form-label-groupS">
                                <input type="password" id="inputConfirmPassword" class="form-control" name="inputConfirmPassword" placeholder="Ripeti Password"  >
                                    <span id="errConfirmPassword">Password errata </span>
                            </div>
                            <button class="btna btn-block" type="submit" class="saveButton">Modifica password</button>
                        </form>
                           
                </div>
            </div>
        </div>
        <% } %>

        <%if(session.utente.type == "externalTutor") {%>
            <hr>
            <h1 class="mt-8">Riepilogo Dati Anagrafici</h1>
            <div class="container-fluid" id="externalView">
                <ul class="list-group" id="viewp">
                    <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Nome: </strong></span> <%= JSON.stringify(session.utente.utente.Name) %> </li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Cognome: </strong></span> <%= JSON.stringify(session.utente.utente.Surname)%></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Email: </strong></span><%= JSON.stringify(session.utente.utente.E_mail) %></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Organizzazione: </strong></span>  <%= JSON.stringify(session.utente.utente.Organization) %></li>
                </ul>
                <hr>
                <div class="updatedati">
                
                <form id="formUpdate" method="post" action="/updateProfile">
                <h4 class="mt-4">Modifica dati anagrafici</h4>
                     <div class="form-label-groupE">
                         <input type="text" id="inputNameE" class="form-control" name="inputNameE" placeholder="Nome">
                            <span id="errNameE">Nome non valido</span>
                    </div>
                     <div class="form-label-groupE">
                        <input type="text" id="inputSurnameE" class="form-control" name="inputSurnameE" placeholder="Cognome"  >
                            <span id="errSurnameE">Cognome non valido</span>
                    </div>
                    <div class="form-label-groupE">
                        <input type="text" id="inputOrganization" class="form-control" name="inputOrganization" placeholder="Organizzazione"  >
                            <span id="errOrganization">Organizzazione non valida</span>
                    </div>
                    <button class="btna btn-block" type="submit" class="saveButton">Modifica dati</button>
                </form>
                            
                <form id="formUpdatePass" method="post" action="/updatePassword">
                    <h4 class="mt-4">Modifica password</h4>
                        <div class="form-label-groupE">
                        <input type="password" id="inputOldPassword" class="form-control" name="inputOldPassword" placeholder="Vecchia Password"  >
                            <span id="errOldPassword">Vecchia Password errata</span>
                    </div>
                    <div class="form-label-groupE">
                        <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Nuova Password"  >
                            <span id="errPassword">Nuova Password non valida</span>
                    </div>
                    <div class="form-label-groupE">
                        <input type="password" id="inputConfirmPassword" class="form-control" name="inputConfirmPassword" placeholder="Ripeti Password" >
                            <span id="errConfirmPassword">Password errata </span>
                    </div>
                    <button class="btna btn-block" type="submit" class="saveButton">Modifica password</button>
                </form>
            </div>
            <% } %>


            <%if(session.utente.type == "academicTutor"){%>
            <hr>
            <h1 class="mt-8">Riepilogo Dati Anagrafici</h1>
            <div class="container-fluid" id="accademicView">
                <ul class="list-group" id="viewp">
                    <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Nome: </strong></span> <%= JSON.stringify(session.utente.utente.Name) %> </li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Cognome: </strong></span> <%= JSON.stringify(session.utente.utente.Surname)%></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Email: </strong></span><%= JSON.stringify(session.utente.utente.E_mail) %></li>
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Dipartimento: </strong></span>  <%= JSON.stringify(session.utente.utente.Department) %></ li>
                </ul>
                <hr>
                <div class="updatedati">
                
                    <form id="formUpdate" method="post" action="/updateProfile">
                        <h4 class="mt-4">Modifica dati anagrafici</h4>
                        <div class="form-label-groupAT">
                            <input type="text" id="inputNameAc" class="form-control" name="inputNameAc" placeholder="Nome">
                            <span id="errNameAc">Nome non valido</span>
                        </div>
                        <div class="form-label-groupAT">
                            <input type="text" id="inputSurnameAc" class="form-control" name="inputSurnameAc" placeholder="Cognome">
                            <span id="errSurnameAc">Cognome non valido</span>
                        </div>
                        <div class="form-label-groupAT">
                            <input type="text" id="inputDepartmentT" class="form-control" name="inputDepartmentT" placeholder="Dipartimento">
                            <span id="errDepartmentT">Dipartimento non valido</span>
                        </div>
                        <button class="btna btn-block" type="submit" class="saveButton">Modifica dati</button>
                    </form>
                        
                    <form id="formUpdatePass" method="post" action="/updatePassword">
                        <h4 class="mt-4">Modifica password</h4>
                        <div class="form-label-groupAT">
                        <input type="password" id="inputOldPassword" class="form-control" name="inputOldPassword" placeholder="Vecchia Password"  >
                            <span id="errOldPassword">Vecchia Password errata</span>
                    </div>
                    <div class="form-label-groupAT">
                        <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Nuova Password"  >
                            <span id="errPassword">Nuova Password non valida</span>
                    </div>
                    <div class="form-label-groupAT">
                        <input type="password" id="inputConfirmPassword" class="form-control" name="inputConfirmPassword" placeholder="Ripeti Password"  >
                            <span id="errConfirmPassword">Password errata </span>
                    </div>
                    <button class="btna btn-block" type="submit" class="saveButton">Modifica password</button>
                </form>
                </div>
            </div>
            <% } %>   


            <%if(session.utente.type == "admin"){%>
                <div class="container-fluid" id="adminView">
                    <hr>
                    <div class="updatedatiAdmin">
                        <form id="formUpdatePass" method="post" action="/updatePassword">
                            <h4 class="mt-4">Modifica password</h4>
                            <div class="form-label-groupA">
                            <input type="password" id="inputOldPassword" class="form-control" name="inputOldPassword" placeholder="Vecchia Password"  >
                                <span id="errOldPassword">Vecchia Password errata</span>
                        </div>
                        <div class="form-label-groupA">
                            <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Nuova Password"  >
                                <span id="errPassword">Nuova Password non valida</span>
                        </div>
                        <div class="form-label-groupA">
                            <input type="password" id="inputConfirmPassword" class="form-control" name="inputConfirmPassword" placeholder="Ripeti Password"  >
                                <span id="errConfirmPassword">Password errata </span>
                        </div>
                        <button class="btna btn-block" type="submit" class="saveButton">Modifica password</button>
                    </form>
                    </div>
                </div>
                <% } %>   


            <div>
    
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/dist/jquery.min.js "></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js "></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle ").click(function(e) {
            e.preventDefault()
            $("#wrapper ").toggleClass("toggled");
        });
    </script>
    
</body>
</html>