<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/viewandupdate.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/cookie.js"></script>

    
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <a href="index.html" style="text-decoration: none; color: black">
                <div class=sidebar-logo>
                    <img src="/img/logoUni.png" style="float: left" width="50px">
                </div>
                <div class="sidebar-heading">Riepilogo Dati Anagrafici</div>
            </a>
            <div class="list-group list-group-flush">
                <a href="profile.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/profile.svg" style="height: 20px; width: 20px;"> Profilo</a>
                <a href="compileLAStudent.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/compileLA.svg" style="height: 20px; width: 20px;"> Compilazione LA</a>
                <a href="viewLA.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/ViewLA.svg" style="height: 20px; width: 20px;"> Visualizzazione LA</a>
                <a href="viewtutor.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Lista Tutor</a>
                <a href="dochandler.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/documents.svg" style="height: 20px; width: 20px;"> Gestione Documenti</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-color: orange;">
                <button id="menu-toggle"><img src="/img/menu.png" style="height: 20px; width: 20px;"></button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/img/responsive_slide.svg" style="height: 20px; width: 20px;">
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/img/notification.svg" style="height: 20px; width: 20px;"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/img/chat.svg" style="height: 20px; width: 20px;"></a>
                        </li>
                        <form method="get" action="/logout">
                            <button type="submit" class="nav-link"> Logout </button>
                            </form>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <img class="logoEA" src="/img/EasyAgreement_Logo.png" alt="logo Easy Agreement">
                <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
                <h1 class="mt-4">LEARNING AGREEMENT FOR TRAINEESHIPS</h1>
                <hr>
                <h1 class="mt-4">Riepilogo Dati Anagrafici</h1>
                <p>In questa pagina puoi visualizzare i tuoi dati anagrafici e modificarli.</p>
                <div class="logoCenter">
                    <img src="/img/EasyAgreement_Logo.png" alt="logo Unisa" style="opacity: 0.3; vertical-align: middle; max-width: 300px; max-height: 300px;">
                </div>
            </div>
            <%if(session.utente.type == "student") {%>
            <div class="container-fluid" id="studentView" >

               <h4 class="mt-4">Visualizzazione dati anagrafici</h4>
               
               <h6 >Nome: <%= JSON.stringify(session.utente.utente.Name) %> </h6> 
               <h6 >Cognome: <%= JSON.stringify(session.utente.utente.Surname) %>  </h6> 
               <h6 >Indirizzo: <%= JSON.stringify(session.utente.utente.Address) %>  </h6>
               <h6 >E-mail:  <%= JSON.stringify(session.utente.utente.Email) %> </h6>
               <h6 >Città:  <%= JSON.stringify(session.utente.utente.City) %> </h6>
               <h6 >Corso di laurea: <%= JSON.stringify(session.utente.utente.DegreeCourse) %> </h6>
               <h4 class="mt-4">Modifica dati anagrafici</h4>
               <form id="formUpdate" method="post" action="/updateProfile"><br>
               <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" name="inputName" placeholder="Nome" required>
                <label for="inputName">Nome<label>
                <span id="errName">Nome non valido</span>
               </div>
               <div class="form-label-group">
                <input type="text" id="inputSurname" class="form-control" name="inputSurname" placeholder="Cognome" required>
                <label for="inputSurname">Cognome<label>
                <span id="errSurname">Cognome non valido</span>
               </div>
               <div class="form-label-group">
                <input type="text" id="inputAddress" class="form-control" name="inputAddress" placeholder="Indirizzo" required>
                <label for="inputAddress">Indirizzo<label>
                <span id="errAddress" >Indirizzo non valido</span>
               </div>
               
               <div class="form-label-group">
                <input type="text" id="inputCity" class="form-control" name="inputCity" placeholder="Città" required>
                <label for="inputCity">Città<label>
                <span id="errCity">Città non valida</span>
               </div>
               <div class="form-label-group">
                <input type="text" id="inputDegree" class="form-control" name="inputDegree" placeholder="Corso di Laurea" required>
                <label for="inputDegree">Corso di Laurea<label>
                <span id="errDegree">Corso di Laurea non valido</span>
               </div>
                <button class="btn btn-block" type="submit" class="saveButton">Modifica dati</button>
             </form>

               </div>
               <% } %>
               

               <%if(session.utente.type == "externalTutor") {%>

               <div class="container-fluid" id="externalView">

                <h4 class="mt-4">Visualizzazione dati anagrafici</h4>
                <h6 >Nome: <%= JSON.stringify(session.utente.utente.name) %> </h6> 
                <h6 >Cognome: <%= JSON.stringify(session.utente.utente.surname) %>  </h6> 
                <h6 >E-mail:  <%= JSON.stringify(session.utente.utente.email) %> </h6>
                <h6 >Organization:  <%= JSON.stringify(session.utente.utente.organization) %> </h6>
                
                <h4 class="mt-4">Modifica dati anagrafici</h4>
                <form id="formUpdate" method="post" action="/updateProfile"><br>
                <div class="form-label-group">
                 <input type="text" id="inputName" class="form-control" name="inputName" placeholder="Nome" required>
                 <label for="inputName">Nome<label>
                 <span id="errName">Nome non valido</span>
                </div>
                <div class="form-label-group">
                 <input type="text" id="inputSurname" class="form-control" name="inputSurname" placeholder="Cognome" required>
                 <label for="inputSurname">Cognome<label>
                 <span id="errSurname">Cognome non valido</span>
                </div>
               

                <div class="form-label-group">
                    <input type="text" id="inputOrganization" class="form-control" name="inputOrganization" placeholder="Organizzazione" required>
                    <label for="inputOrganization">Organizzazione<label>
                    <span id="errOrganization">Organizzazione non valida</span>
                   </div>

                 <button class="btn btn-block" type="submit" class="saveButton">Modifica dati</button>
              </form>
 
                </div>
                <% } %>


                <%if(session.utente.type == "academicTutor") {%>

              <div class="container-fluid" id="accademicView">

                <h4 class="mt-4">Visualizzazione dati anagrafici</h4>
                <h6 >Nome: <%= JSON.stringify(session.utente.utente.Name) %> </h6> 
                <h6 >Cognome: <%= JSON.stringify(session.utente.utente.Surname) %>  </h6> 
                <h6 >E-mail:  <%= JSON.stringify(session.utente.utente.E_mail) %> </h6>
                <h6 >Department:  <%= JSON.stringify(session.utente.utente.Department) %> </h6>
                
                <h4 class="mt-4">Modifica dati anagrafici</h4>
                <form id="formUpdate" method="post" action="/updateProfile"><br>
                <div class="form-label-group">
                 <input type="text" id="inputName" class="form-control" name="inputName" placeholder="Nome" required>
                 <label for="inputName">Nome<label>
                 <span id="errName">Nome non valido</span>
                </div>
                <div class="form-label-group">
                 <input type="text" id="inputSurname" class="form-control" name="inputSurname" placeholder="Cognome" required>
                 <label for="inputSurname">Cognome<label>
                 <span id="errSurname">Cognome non valido</span>
                </div>
              

                <div class="form-label-group">
                    <input type="text" id="inputDepartment" class="form-control" name="inputDepartment" placeholder="Department" required>
                    <label for="inputDepartment">Department<label>
                    <span id="errDepartment">Dipartimento non valido</span>
                   </div>

                 <button class="btn btn-block" type="submit" class="saveButton">Modifica dati</button>
              </form>
 
                </div>

                <% } %>
               <h4 class="mt-4">Modifica password</h4>

<form method="post" action="/updatePassword">
               
               <div class="form-label-group">
                <input type="password" id="inputNewPassword" class="form-control" name="newPassword" placeholder="Nuova Password" required>
                <label for="inputNewPassword">Nuova Password<label>
                <span id="errNewPassword">Nuova Password</span>
               </div>
               <div class="form-label-group">
                <input type="password" id="inputRepeatPassword" class="form-control" name="repeatPassword" placeholder="Ripeti Password" required>
                <label for="inputRepeatPassword">Ripeti Password<label>
                <span id="errRepeatPassword">Ripeti Password</span>
               </div>
                               <button class="btn btn-block" type="submit" class="saveButton">Modifica password</button>
            </form>
               
           
    
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/dist/jquery.min.js "></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js "></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle ").click(function(e) {
            e.preventDefault()
            $("#wrapper ").toggleClass("toggled");
        });
    </script>
</body>

</html>