<%- include ('header') %>
<%- include ('sidebar') %>

<link href="/css/simple-sidebar.css" rel="stylesheet">
<script type="text/javascript" src="./js/formValidation.js"></script>
<script type="text/javascript" src="/js/cookie.js"></script>
<link href="/css/viewandupdate.css" rel="stylesheet">

           
<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Visualizzazione informazioni</h2>
                        <%if(type == "externalTutor") {%>
                        <h5 class="text-white op-7 mb-2">Tutor Esterni</h5>
                        <%} if(type == "host"){%>
                        <h5 class="text-white op-7 mb-2">Organizzazioni Ospitanti</h5>
                        <%} if(type == "academicTutor"){%>
                        <h5 class="text-white op-7 mb-2">Tutor Accademici</h5>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner py-5" id="studentView">     
            <h1 class="mt-8">Riepilogo Dati</h1>             
                     <div class="form-label-group">
                        <%if(type == "externalTutor"){%>
                        <div class="text-center" id="viewp">
                            <div class="viewdati">
                                <ul>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Nome:&nbsp;</strong></span> <%=user.Name%> </li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Cognome:&nbsp;</strong></span> <%=user.Surname%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Email:&nbsp;</strong></span> <%=user.E_mail%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Organizzazione:&nbsp;</strong></span> <%=user.Organization%></li>
                                </ul>
                            </div>  
                         </div>

                        <%}
                         else if(type == "host"){%>
                         <div class="text-center" id="viewp">
                            <div class="viewdati">
                                <ul>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">ErasmusCode:&nbsp;</strong></span> <%=user.ErasmusCode%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Faculty:&nbsp;</strong></span> <%=user.Faculty%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Address:&nbsp;</strong></span> <%=user.Address%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Size:&nbsp;</strong></span> <%=user.Size%> </li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Country:&nbsp;</strong></span> <%=user.Country%> </li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Contacts:&nbsp;</strong></span> <%=user.Contacts%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Name:&nbsp;</strong></span> <%=user.Name%></li>

                                </ul>
                            </div>
                         </div>
                         <%}
                        else if(type == "academicTutor"){%>
                            <div class="text-center" id="viewp">
                            <div class="viewdati">
                                <ul>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Nome:&nbsp;</strong></span> <%= user.Name%> </li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Cognome:&nbsp;</strong></span> <%= user.Surname%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Email:&nbsp;</strong></span><%= user.E_mail%></li>
                                    <li class="list-group-item text-left"><span class="pull-left"><strong class="">Dipartimento:&nbsp;</strong></span>  <%= user.Department%></li>
                                </ul>
                            </div>
                         </div>
                         <%}%>
                     </div>
                </div>
            </div>
<%- include ('footer') %>
           <!--         
            <script>

                var scelta=res.body.choice;
                
                $.ajax({
                       type:'POST',
                       url:'/getHost',
                       data:{param: erasmuscode},
                       success: function(result){


                       }

                })
                
            
            </script>
            -->
                        
                        
                        
                




